<p>Thank you for volunteering to host an event for Bernie! The details of the event you submitted are included below. To manage the events you have created, please visit <a href="https://secure.berniesanders.com/page/event/myevents">secure.berniesanders.com/page/event/myevents</a>.</p>

<p>
Your username on berniesanders.com is <b>{{user.email}}</b>
{{#if user.password}}
  <br>
  Your password is <b>{{user.password}}</b>
  <br><br>IMPORTANT: Please change your password the first time you log in.
{{/if}}
</p>

<hr>

<h1>{{event.name}}</h1>

{{#each eventIds}}
  <a href="https://go.berniesanders.com/page/event/detail/{{this}}">go.berniesanders.com/page/event/detail/{{this}}</a><br/>
{{/each}}

<h4>Event Description</h4>
<p>{{event.event_type_name}}</p>
{{{event.description}}}

<h4>Event Venue</h4>
{{event.venue_name}}, capacity {{event.capacity}}
<br>
{{event.venue_addr1}} {{event.venue_city}} {{event.venue_state_cd}} {{event.venue_zip}}
<p>{{event.venue_directions}}</p>

<h4>Event Time</h4>
{{event.start_time.h}}:{{event.start_time.i}} {{event.start_time.a}} {{event.start_tz}} for {{event.duration_num}}
{{#ifCond event.duration_unit '==' 1}}minute{{/ifCond}}{{#ifCond event.duration_unit '==' 60}}hour{{/ifCond}}{{#ifCond event.duration_unit '==' 1440}}day{{/ifCond}}{{#ifCond event.duration_num '>' 1}}s{{/ifCond}}
<h4>Event Date{{#ifCond event.event_dates.length '>' 1}}s{{/ifCond}}</h4>
<ul class="date_list">
  {{#each event.event_dates}}
    <li>{{this.date}}</li>
  {{/each}}
</ul>

{{#if event.attendee_volunteer_show}}
<h4>Volunteer Message</h4>
<p>{{event.attendee_volunteer_message}}</p>
{{/if}}