<head>
<style>
div{
font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 400;
font-size: 17px;
line-height:1.4;
color: #364350;
}
a{
color: #147FD7;
}
.express-lane-links .link{
  margin: 0;
}
.express-lane-links .link a{
  font-family: sans-serif;
  font-size: 18px;
  background-color: #147FD7;
  border-top: 1px solid #1e88e0;
  border-bottom: 2px solid #0e72c4;
  width: 290px;
  margin: 12px auto;
  border-radius: 4px;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 12px 5px;
  font-weight:700;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}
.express-lane-links .link a:hover{
  background-color: #1e88e0;
}
.express-lane-links .link.other a{
  font-size: 17px;
}
</style>
</head>
<h1 style="text-align: center; padding: 25px 0; border: 0; margin: 0;"><img width="200" alt="Bernie Sanders for President" src="https://s.bsd.net/bernie16/main/page/-/logo-2x.png"></h1>
<div style="max-width: 600px; margin: 0 auto;">


	<h1>{{name}}</h1>
	<h3>Event Description:</h3>
	{{{description}}}

	<h3>Event Venue:</h3>
	{{venue_name}}, {{venue_city}} {{venue_state_cd}}


</div>
<div class="footer" style="text-align: center; margin-top: 40px; padding-top: 15px; border-top: 1px solid #aaa;">

<p class="disclaimer" style="display: inline-block; border: 1px solid #555; padding: 5px 10px; color: #444; margin-bottom: 5px;">Paid for by Bernie 2016</p>
<p style="font-size: 11px; margin: 5px 0 0;"><img src="https://s.bsd.net/bernie16/main/page/-/website/billionaires.png" width="195" height="28" alt="(not the billionaires)" /></p>

<p style="font-size: 9px; margin: 15px 0 15px; color: #444;">PO Box 905 - Burlington VT 05402 United States - (855) 4-BERNIE</p>

<p style="font-size: 9px; color: #444;">This email was sent to {{cons_email}}. If you need to update or change your information or email address, click here to <a href="https://go.berniesanders.com/page/s/change-your-information?source=email_footer">update your info</a>. Email is one of the most important tools we have to reach supporters like you, but you can let us know if you'd like to <a href="https://go.berniesanders.com/page/s/fewer-emails?source=email_footer&email=%%EMAIL%%&zip=%%ZIP%%">receive fewer emails</a>. We'd hate to see you go, but if you need to do so, click here to <a href="https://go.berniesanders.com/page/unsubscribe/">unsubscribe</a>. Stand against the powerful special interests who are systematically buying our Congress and have their sights set on the presidency by <a href="https://secure.actblue.com/contribute/page/lets-go-bernie?refcode=email_footer">contributing to Bernie here</a>.</p>
</div>