<p style="font-family: Arial; font-size: 17px; line-height: 140%;">Hey {{ hostFirstName }},</p>

<p style="font-family: Arial; font-size: 17px; line-height: 140%;">It looks like you have an event coming up <a href="#" style="text-decoration:none; color: #364350;">on {{ eventDate }}</a>, that has some room for more people.</p>

<p style="font-family: Arial; font-size: 17px; line-height: 140%;">If you’d like, we can forward along a message from you to some Bernie supporters near you, inviting them to join you <a href="#" style="text-decoration:none; color: #364350;">on {{ eventDay }}</a>.</p>

<p style="font-family: Arial; font-size: 17px; line-height: 140%;">Click this link below to send a quick note to folks near you — it’s easy, and we’ll provide a template to get you started:</p>

<p style="font-family: Arial; font-size: 17px; line-height: 140%;"><a href="{{ fastFwdURL }}">{{ fastFwdURL }}</a></p>

<p style="font-family: Arial; font-size: 17px; line-height: 140%;">And if you have any questions, you can email <a href="mailto:help@berniesanders.com">help@berniesanders.com</a></p>

<p style="font-family: Arial; font-size: 17px; line-height: 140%;">Thanks for all you do,</p>

<p style="font-family: Arial; font-size: 17px; line-height: 140%;">Team Bernie</p>
